*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

	body{
		font-family: courier new;
		font-weight: bold;
}

h1{
	text-align: center;
	margin-top: 40px;
	font-size: 500%;
	margin-bottom: 40px;
}

.container{
	border: 4px solid black;
	margin: 20px;
	margin-bottom: 20px;
	background-color: gray;
	font-size: 24px;
}

#chicken{
	border-bottom: 4px solid black;
	border-left: 4px solid black;
	text-align: center;
	width: 40%;
	height: 30px;
	float: right;
	margin-bottom: 20px;
	background-color: pink;
	font-weight: bold;
}

#beef{
	border-bottom: 4px solid black;
	border-left: 4px solid black;
	text-align: center;
	width: 40%;
	height: 30px;
	float: right;
	margin-bottom: 20px;
	background-color: red;
	color: white;
	font-weight: bold;
}

#sushi{
	border-bottom: 4px solid black;
	border-left: 4px solid black;
	text-align: center;
	width: 40%;
	height: 30px;
	float: right;
	margin-bottom: 20px;
	background-color: yellow;
	font-weight: bold;
}

#p1{
	clear: right;
}

#p2{
	clear: right;
}

#p3{
	clear: right;
}